<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet"
              href="{{ url_for('static', filename='css/login.css') }}" />
        <link rel="stylesheet"
              href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <title>Student Management System</title>
    </head>
    <body>
        <div class="box">
            <div class="banner">
                {# djlint:off #}
            	<img src="{{ url_for('static', filename='img/login_img.png') }}"
                 alt="Login Banner" width="760" height="1024">
                {# djlint:on #}
            </div>
            <div class="sign-in-box">
                <div class="sign-in">
                    <form action="" method="post">
                        {{ form.hidden_tag() }}
                        <fieldset>
                            <legend class="form-label pt-0">Sign In</legend>
                            <div class="mb-3">
                                {{ form.email.label(class='col-sm-2 col-form-label') }}
                                <div class="col-sm-12">{{ form.email(class='form-control') }}</div>
                            </div>
                            <div class="mb-3">
                                {{ form.password.label(class='col-sm-2 col-form-label') }}
                                <div class="col-sm-12">{{ form.password(class='form-control') }}</div>
                            </div>
                            <div class="mb-3">
                                <div class="col-sm-12">
                                    <div class="form-check">
                                        {{ form.remember_me(class='form-check-input') }}
                                        {{ form.remember_me.label(class='form-check-label') }}
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        {{ form.submit(class='btn btn-primary') }}
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
