<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <link rel="stylesheet"
              href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet"
              href="{{ url_for('static', filename='css/register.css') }}" />
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" />
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css2?family=Avenir:wght@400&display=swap" />
        <title>Register</title>
    </head>
    <body>
        <div class="div">
            {# djlint: off #}
            <img class="image-icon"
                 alt="Background Image"
                 src="{{ url_for('static', filename='img/registration_backdrop.png') }}">
            {# djlint: on #}
            <div class="backdrop"></div>
            <div class="sign-up-overlay">
                <div class="content">
                    <div class="frame-parent">
                        <div class="logo-parent">
                            {# djlint: off #}
                            <img class="logo"
                                 alt="Background Image"
                                 src="{{ url_for('static', filename='img/registration_backdrop.png') }}">
                            {# djlint: on #}
                            <div class="unlimited-free-access-to-our-r-parent">
                                <div class="unlimited-free-access-container">
                                    {# <span class="unlimited-free-access-container1">
                                        <p class="unlimited-free-access">Unlimited free access</p>
                                        <p class="unlimited-free-access">to our resourses</p>
                                    </span> #}
                                </div>
                                {# <div class="have-an-account-login"> #}
                                {# <div class="already-have-an">Sign up to see more</div> #}
                                {# </div> #}
                            </div>
                        </div>
                        <div class="button-parent">
                            <form action="" method="post">
                                {{ form.hidden_tag() }}
                                {# <fieldset> #}
                                <div class="mb-2">
                                    {{ form.username.label(class='col-sm-2 unlimited-free-access') }}
                                    <div class="col">{{ form.username(class='form-control') }}</div>
                                </div>
                                <div class="mb-2">
                                    {{ form.email.label(class='col-sm-2 unlimited-free-access') }}
                                    <div class="col-sm-12">{{ form.email(class='form-control') }}</div>
                                </div>
                                <fieldset class="mb-0">
                                    <div>{{ form.role.label(class='col-sm-2 unlimited-free-access') }}</div>
                                    {% for option in form.role %}
                                        <div class="form-check form-check-inline">
                                            {{ option.label(class="form-check-label unlimited-free-access") }}
                                            {{ option(class='form-check-input ') }}
                                        </div>
                                    {% endfor %}
                                </fieldset>
                                <div class="mb-2">
                                    {{ form.password.label(class='col-sm col-form-label unlimited-free-access') }}
                                    <div class="col-sm-12">{{ form.password(class='form-control') }}</div>
                                </div>
                                <div class="mb-3">
                                    {{ form.confirm_password.label(class='col-sm col-form-label unlimited-free-access') }}
                                    <div class="col-sm-12">{{ form.confirm_password(class='form-control') }}</div>
                                </div>
                            </fieldset>
                            {{ form.submit(class='btn btn-primary') }}
                        </form>
                    </div>
                    <div class="link-text">
                        <div class="already-have-an">
                            <p class="unlimited-free-access">
                                <span class="by-continuing-you">By continuing, you agree to the</span>
                                <span class="terms-of-service">
                                    <span class="privacy-policy">Terms of Service</span>
                                </span>
                                <span class="terms-of-service"></span>
                            </p>
                            <p class="unlimited-free-access">
                                <span class="by-continuing-you">and acknowledge you’ve read our</span>
                                <span class="privacy-policy">
                                    <span class="privacy-policy1">Privacy Policy.</span>
                                    <span class="by-continuing-you"></span>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="have-an-account-login1">
                    <div class="already-have-an">
                        <span class="terms-of-service">Have an account?</span>
                        <span class="by-continuing-you"></span>
                        <a href="{{ url_for("auth.login") }}" class="log-in">Log in</a>
                    </div>
                </div>
            </div>
            {# djlint: off #}
                {# <img class="icons" alt="" src="Icons.svg"> #}
            {# djlint: on #}
        </div>
    </div>
</body>
</html>
