{% extends 'teacher_layout.html' %}
{% block content %}
    <div id="students" class="column is-three-fifths box">
        <header class="panel">
            <p class="panel-heading">
                Students
            </p>
        </header>
        <div class="bulma-table-container">
            <table class="bulma-table">
                <thead>
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            Index Number
                        </th>
                        <th>
                            First Name
                        </th>
                        <th>
                            Last Name
                        </th>
                        <th>
                            Gender
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in students %}
                        <tr>
                            <td>
                                {{ student.id }}
                            </td>
                            <td>
                                {{ student.student_index_number }}
                            </td>
                            <td>
                                {{ student.first_name }}
                            </td>
                            <td>
                                {{ student.last_name }}
                            </td>
                            <td>
                                {{ student.gender }}
                            </td>
                            <td class="bulma-container">
                                {# <div class="bulma-buttons bulma-is-flex bulma-is-justify-content-space-between">
                                </div> #}
                                <a href="{{ url_for('students.detail_student', id=student.id) }}"
                                   class="bulma-button bulma-is-info bulma-is-small">View</a>
                                <a href="{{ url_for('students.update_student', id=student.id) }}"
                                   class="bulma-button bulma-is-warning bulma-is-small">Edit</a>
                                <form action="{{ url_for('students.delete_student', id=student.id) }}"
                                      method="POST"
                                      style="display:inline">
                                    <button type="submit" class="bulma-button bulma-is-danger bulma-is-small">
                                        Delete
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {# <h2>
        Students
    </h2> #}
    {# <a href="{{ url_for("students.create_student") }}"
class="bulma-button btn-primary">Create Student</a> #}
{% endblock %}
